body {
  background-image: url('https://www.dailypaws.com/thmb/d3vNqnLf6Vqjz8oz5XObGCQxms4=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/tiny-white-kitten-873941684-2000-0bac130389984aba9751de5e5e50d25f.jpg'); 
  background-size: cover; 
  background-repeat: no-repeat; 
}

#container {
 margin-top:10%;
 margin-left:10%;
 margin-right:10%;
 margin-bottom:5%;
 font-size: 0; 
 text-align: center;
}

#title {
 position:fixed;
 top:0px;
 left:0px; 
 padding:1%;
 margin:0px;
 width:100%;
 background-color:lightblue;
 text-align:center; 
 z-index:10;
 font-family: 'UniqueRegular';
 font-weight: normal;
 font-style: normal;
}

.white {
  background-color: white;
  width: 10%;
  border: 1px solid black;
  margin: 0px;
  height: 60px;
  display: inline-block; 
}

.black {
  background-color: black;
  width: 10%;
  border: 1px solid black;
  margin-right: 0px;
  display: inline-block;
  height: 60px;
}

#footer {
 border:solid 1px;
 padding: 50px;
 margin:30px;
 background-color:lightblue;
 text-align: center;
}
