
.table{
  display: table;
  width: 100%;
  border-collapse: collapse;
}

.table-row{
  display: table-row;
  border: 1px solid;
}

.table-col{
  display: table-cell;
  border: 1px solid;
  padding: 8px;
}

img {
  width: 1000px;
  height: 400px;
}

