
.table{
  display: table;
  width: 100%;
  border-collapse: collapse;
  height: 30%;
  color: white;
}

.table-row{
  display: table-row;
  border: 3px solid;
  height: 30%;
  color: white;
}

.table-col{
  display: table-cell;
  border: 3px solid;
  padding: 8px;
  height: 30%;
  width: 50%;
  color: white;
}

img {
  width: 80%;
  height: auto;
}

h3, h5, h1{
  color: white;
}